.section-margin {
    padding-top: 13rem;
}

.margin-abouts {
    margin: 8rem 0;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 6rem;
    color: #555;
}

.heading2 {
    margin-bottom: 3.5rem;
}

.container-2 {
    max-width: 850px;
    margin: 0 auto;
}

.container-3 {
    max-width: 1000px;
    margin: 0 auto;
}

.container-gallery {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15rem;
}

// .qoute-pop {
//     background-color: red;
//     width: 100%;
//     height: 20rem;
// }